body {
    padding-top:0px !important;
}
.navbar {
    position: relative;
    min-height: 50px;
     margin-bottom:0px !important;
    border: 1px solid transparent;
}
a.navbar-brand {
    width: 100%;
    text-align: -webkit-center;
}
item-name {
    font-size: 16px;
}
.name {
    text-transform: capitalize;
}
.best-data {
    text-align: center;
}
.plus {
    color: green;
    font-size: 12px;
}
.minus{
  color: red;
  font-size: 12px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 3% .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 2%;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.progress{
  border-radius:0;
  overflow:visible;
}
.progress-bar{
   background:rgb(23,44,60);
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}

.container {
    width: 100% !important;
}
.jumbotron {
    padding: 14% !important;

}
.form-inline .form-control {
    display: inline-block;
    width: 80% !important;
    vertical-align: middle;
}
.col-lg-12 {
    border: 1px solid;
    border-color: #d8efb6;
    border-bottom: 0px;
    padding: 3%;
    border-radius: 2px;
}
.col-md-3 {
    width: 25% !important;
}
.item-name {
    border-bottom: 1px solid;
    margin-bottom: 2%;
}
@media (min-width: 576px){
.jumbotron {
    padding: 14%;

}

.form-inline .form-control {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
}
