<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>FoodPal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>

</head>
<body>
<my-app>Loading...</my-app>

<script src="/js/app/bundle.js"></script>
</body>
</html>
