
  <div class="row">

    <div class="col-lg-12">
      <div class="item-name" >
        <h3 class="name" id="name-1">chicken curry</h3>
      </div>

      <div class="row">

        <div class="col-md-3">
          <div class="best-data">
            <b>Protien</b><br><span class="data" id="protien-1">9g</span> <span class="data plus" id="fat-0">13%</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="best-data">
            <b>Fat</b><br><span class="data" id="fat-1">4g</span> <span class="data minus" id="fat-0">9%</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="best-data">
            <b>Energy</b><br><span class="data" id="energy-1">6g</span> <span class="data plus" id="fat-0">23%</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="best-data">
            <b>vitamins</b><br><span class="data" id="vitamin-1">6g</span> <span class="data plus" id="fat-0">3%</span>
          </div>
        </div>

      </div><!--end of row -->

    </div><!--end of col-md-12 -->
    <div class="col-lg-12">
      <div class="item-name" >
        <h3 class="name" id="name-1">egg curry</h3>
      </div>

      <div class="row">

        <div class="col-md-3">
          <div class="best-data">
            <b>Protien</b><br><span class="data" id="protien-1">9g</span> <span class="data plus" id="fat-0">43%</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="best-data">
            <b>Fat</b><br><span class="data" id="fat-1">4g</span> <span class="data minus" id="fat-0">25%</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="best-data">
            <b>Energy</b><br><span class="data" id="energy-1">6g</span> <span class="data minus" id="fat-0">33%</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="best-data">
            <b>vitamins</b><br><span class="data" id="vitamin-1">6g</span> <span class="data plus" id="fat-0">43%</span>
          </div>
        </div>

      </div><!--end of row -->
    </div><!--end of col-md-12 -->
    <div class="col-lg-12">
      <div class="item-name" >
        <h3 class="name" id="name-1">fish curry</h3>
      </div>

      <div class="row">

        <div class="col-md-3">
          <div class="best-data">
            <b>Protien</b><br><span class="data" id="protien-1">9g</span> <span class="data plus" id="fat-0">3%</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="best-data">
            <b>Fat</b><br><span class="data" id="fat-1">4g</span> <span class="data minus" id="fat-0">3%</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="best-data">
            <b>Energy</b><br><span class="data" id="energy-1">6g</span> <span class="data plus" id="fat-0">3%</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="best-data">
            <b>vitamins</b><br><span class="data" id="vitamin-1">6g</span> <span class="data plus" id="fat-0">3%</span>
          </div>
        </div>

      </div><!--end of row -->
    </div><!--end of col-md-12 -->
    <div class="col-lg-12">
      <div class="item-name" >
        <h3 class="name" id="name-1">fried chicken curry</h3>
      </div>

      <div class="row">

        <div class="col-md-3">
          <div class="best-data">
            <b>Protien</b><br>
              <div class="best-fit-data">
                <span class="data" id="protien-1">9g</span>
                <span class="data plus" id="fat-0">3%</span>
              </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="best-data">
            <b>Fat</b><br>
            <div class="best-fit-data">
              <span class="data" id="fat-1">4g</span>
              <span class="data minus" id="fat-0">3%</span>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="best-data">
            <b>Energy</b><br>
            <div class="best-fit-data">
              <span class="data" id="energy-1">6g</span>
              <span class="data plus" id="fat-0">3%</span>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="best-data">
            <b>vitamins</b><br><span class="data" id="vitamin-1">6g</span> <span class="data plus" id="fat-0">3%</span>
          </div>
        </div>

      </div><!--end of row -->
    </div><!--end of col-md-12 -->

</div>
